<div>
  <% if (fromusernew) {%>
  <div data-url="<%= submitPublicationPath(journey) %>" data-new="1" data-userid="<%= currentUser.id%>"
    data-publicationid="<%= publication.id%>" id="react-form"></div>
  <%} else {%>
  <div data-url="<%= submitPublicationPath(journey) %>" data-new="0" data-userid="<%= currentUser.id%>"
    data-publicationid="<%= publication.id%>" id="react-form"></div>
  <% } %>
  </form>
</div>