<div class="comment">
  <% if (locals.errors) { %>
    <div class="errors">
      Debes arreglar los siguientes errores:
      <ul>
        <% errors.forEach(error => { %>
          <li><%= error.message %></li>
        <% }); %>
      </ul>
    </div>
  <% } %>
  <% if (fromnew) {%>
  <form action="<%= submitCommentPath(publication) %>" method="post">
  <% } else {%>
  <form action="<%= submitCommentPath(comment) %>" method="post">
  <% } %>
    <% if (!comment.isNewRecord) { %>
      <input type="hidden" name="_method" value="patch" />
    <% } %>
    <div class="field-comment">
      <label for="content">Contenido</label>
      <input type="text" name="content" value="<%=comment.content%>" />
    </div>
    <input type="hidden" name="userId" value="<%=currentUser.id%>" />

    <div class="field-chico">
      <% if (comment.isNewRecord) { %>
        <input class= "comment" type="submit" name="create" value="Crear" />
      <% } else { %>
        <input class= "comment" type="submit" name="update" value="Actualizar" />
      <% } %>
    </div>
  </form>
</div>